<div class="nav">
  <ul class="nav__list">
    <li class="nav__item">
      <a href="/" class="nav__link">Shop</a>
    </li>
    <li class="nav__item">
      <a href="/" class="nav__link">On View</a>
    </li>
    <li class="nav__item">
      <a href="/" class="nav__link">About</a>
    </li>
  </ul>
  <div class="nav__icons">
    <div class="nav__icon">
      <a href="/">{%- render 'icon-search' -%}</a>
    </div>
    <div class="nav__icon nav__icon--user">
      <a href="/">{%- render 'icon-user' -%}</a>
    </div>
    <div class="nav__icon nav__icon--cart">
      <a href="/">{%- render 'icon-cart' -%}</a>
    </div>
    <div class="nav__icon nav__icon--cart-desktop">
      <a href="/">
        {%- render 'icon-cart-desktop' -%}
      </a>
    </div>
    <div class="nav__icon nav__icon--burger">
      <a href="/">{%- render 'icon-burger-menu' -%}</a>
    </div>
  </div>
</div>
