<div class="nav">
  <ul class="nav__list">
    <li class="nav__item">
      <a href="/" class="nav__link">Shop</a>
    </li>
    <li class="nav__item">
      <a href="/" class="nav__link">On View</a>
    </li>
    <li class="nav__item">
      <a href="/" class="nav__link">About</a>
    </li>
  </ul>
  <div class="nav__icons">
    <div class="nav__icon">
      {%- render 'icon-search' -%}
    </div>
    <div class="nav__icon nav__icon--user">
      {%- render 'icon-user' -%}
    </div>
    <div class="nav__icon nav__icon--cart">
      {%- render 'icon-cart' -%}
    </div>
    <div class="nav__icon nav__icon--cart-desktop">
      {%- render 'icon-cart-desctop' -%}
    </div>
    <div class="nav__icon nav__icon--burger">
      {%- render 'icon-burger-menu' -%}
    </div>
  </div>
</div>
