<li class="sidebar-nav__item">
  <a class="sidebar-nav__link" href="{{ link.url }}">
    <div class="sidebar-nav__link-container">
      {{ link.title }}
      {%- render 'icon-arrow-right' -%}
    </div>
  </a>
</li>
